@font-face {
    font-family: "Regular";
    src: url(Fonts/CreatoDisplay-Regular.otf)
}

h1 {
    font-family: "Regular";
    font-size: 50pt;
    position: absolute;
    top: -21px;
    left: 858px;
}

h2 {
    font-family: "Regular";
    font-size: 40pt;
    position: absolute;
    top: 41px;
    left: 51px;
    white-space: nowrap;
}

.images {
    height: auto;
    position: absolute;
}

#sketch1 {
    width: 504px;
    top: 200px;
    left: 18px;
}

#code1 {
    width: 449px;
    top: 173px;
    left: 569px;
}

#sketch2 {
    width: 418px;
    top: 881px;
    left: 46px;
}

#code2 {
    width: 449px;
    top: 813px;
    left: 569px;
}

#sketch3 {
    width: 418px;
    top: 1458px;
    left: 46px;
}

#code3 {
    width: 450px;
    top: 1539px;
    left: 569px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 31, 184);
}

a:active {
    color: black;
}